body {
	background-image: url(../Images/Background-Gold.gif);
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
	font-weight: bold;
}
form {
	display: inline;
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
	text-align: center;
}
.tablestyle h2 {
	font-size: 1.1em;
	font-weight: bold;
}
h2 {
	font-size: 1.5em;
	margin-bottom: 0px;
	color: #00F;
}

p {
	margin-top: 5px;
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.tblcenter {
	text-align: center;
	font-size: 12px;
	color: #000;
}

.springTour {
	font-size: 1em;
	font-weight: bold;
	color: #FF0;
}

.linethrough {
	text-decoration: line-through;
}

.left_img {
	height: 110px;
	width: 160px;
	float: left;
	text-align: center;
	padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.img_left {
	padding-right: 10px;
	padding-bottom: 5px;
	float: left;
}
#img_mid_right {
	margin-right: 100px;
	width: 97px;
	float: right;
}
#img_mid_left {
	margin-left: 100px;
	float: left;
	width: 96px;
}


.right_img {
	height: 110px;
	width: 160px;
	float: right;
	padding: 5px;
	text-align: center;
}



.tablestyle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: .8em;
}

.body a:link {
	color: #FFFFCC;
	text-decoration: underline;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
}
.row_light {
	background-color: #FFFFFF;
}
.row_light img {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


.body a:visited {
	color: #FFFFCC;
	text-decoration: underline;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;
}
.body a:hover {
	color: #00FFFF;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;

}
.nav a:link {
	color: #FFFFCC;
	text-decoration: underline;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;

}
.nav a:visited {
	color: #FFFFCC;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;


}
.nav a:hover {
	color: #00FFFF;
	font: bold 14px Verdana, Arial, Helvetica, sans-serif;

}
.clip a:link {
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
	color: #990033;
	text-decoration: underline;

}
.clip a:visited {
	font: bold 10px Verdana, Arial, Helvetica, sans-serif;
	color: #666699;
	text-decoration: underline;

}
.clip a:hover {
	font: bold 12px Verdana, Arial, Helvetica, sans-serif;
	color: #FF0000;
	text-decoration: underline;
}
.imageborderbk {
	border: 3px outset #68AAB6;
	padding: 4px;
	margin-bottom: 5px;
}
.small {
	font-size: .8em;
}

.body #cdpromo {
	font-size: .8em;
}
.body #CDPROMO2 {
	font-size: .9em;
	font-style: italic;
	border: thin solid #950632;
}
.blue_title {
	font-weight: bold;
	color: #000000;
}
.PhotoCaption {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.Credits {
	font-size: 9px;
	font-family: Arial, Helvetica, sans-serif;
}
#footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
ol {
	font-size: .8em;
}
.red {
	color: #F00;
}
.lg_text {
	font-size: 1em;
	color: #090;
}
.lg_text h2 a {
	color: #090;
}
.tickets {
	color: #FF0;
}
.row_light .black_title strong {
	color: #000000;
}
.large {
	font-size: 36px;
}
