.dash-board {
  background-color: #333;
  color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;

  &__title {
    // font-size: 2rem;
  }

  &__link {
    text-decoration: none;
    color: #eee;
  }

  &__menu {
    margin: 0 2rem;
  }
}
